:root {
  color: white;
  background-color: white;
  box-sizing: border-box;
  font-size: 14px;
}

body {
   font-family: Poppins, sans-serif;
   background-color: white;
   color: black;
   margin: 0;
   padding: 0;
}

