.navDashbord {
    background-color: #c3c6c9;
    padding: 30px;
    border-bottom: 1px solid #eee;
}

.BacktoHome{
    margin-right: 100px;
    cursor: pointer;
    color: #fff;
}

.contentDashbord {
    
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #afafaf;
    max-width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    height: 820px;
}

.componentsAddEvent {
   display: flex;
}

.contentDashbord .SearchEvent {
    height: 30px;
    width: 300px;
    margin-top: 15px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 10px;
    border: none;
}

.contentDashbord .AddEvent {
    width: 150px;
    height: 40px;
    margin-top: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.AddEvent:hover {
    background-color: #d1cfcf;
}

.seeEvents {
    background-color: #fff;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 1700px;
    max-height: 100%;
}

.EventComponent {
    padding: 10px;
    background-color: #dfd9d9;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detalsBtns {
    display: flex;
    gap: 10px;
}

.detalsBtns h2 {
    margin-right: 10px;
}

.detalsBtns button {
    padding: 5px;
    background-color: white;
    cursor: pointer;
    transition: 1s;
}

.DestaqueEvent:hover {
    background-color: yellow;
}

.DestaqueEvent.activeClick {
    background-color: yellow;
}

.DeleteEvent:hover{
    background-color: red;
}

.EditEvent:hover {
    background-color: #3498db;
}

.janelaModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}



.modalContainer {
    width: 500px;
    height: 590px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    backdrop-filter: blur(5px);
    padding: 50px;
    border-radius: 10px;
}

.modalContainer input[type= 'file'] {
    margin-top: 10px;
}

.modalContainer input {
    width: 475px;
    height: 30px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.date .dataEvent {
    margin-right: 30px;
    width: 100px;
}

.dateTime .horarioEvent {
    width: 100px;
    height: 10px;
}

.modalContainer textarea {
    width: 100%;
    height: 140px;
    border-radius: 5px;
    resize: none;
}

.modalContainer select {
    width: 100px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

.submitBtn {
    width: 200px;
    height: 40px;
    margin-top: 5px;
    margin-left: 140px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.fechar {
    width: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    top: -50px;
    right: -520px;
    border-radius: 5px;
}


